doctype html 
html
  head
    title Bhati's Dance Academy 
    block style
  body
    block content
    footer#footer 
      | Copyright © 2022 BhatiAcademy.com | All Rights Reserved
 
      